# Student Loan Risk with Deep Learning

In [42]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [43]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [44]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [45]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [46]:
# Define the target set y using the credit_ranking column
y=loans_df["credit_ranking"]

# Display a sample of y
y[:5].values

array([0, 0, 0, 1, 0], dtype=int64)

In [47]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop("credit_ranking", axis=1)

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [48]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [49]:
# Create scaler instance
X_scaler = StandardScaler()

# Fit the scaler
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [50]:
# Define the the number of inputs (features) to the model
input_nodes = len(X.columns)

# Review the number of features
input_nodes

11

In [51]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  6

# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 3

# Define the number of neurons in the output layer
number_of_neurons_output_layer =1

In [52]:
# Create the Sequential model instance
nn = tf.keras.models.Sequential()

# Add the first hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=input_nodes, activation="relu")
)

# Add the second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(tf.keras.layers.Dense(units=number_of_neurons_output_layer, activation="sigmoid"))

c:\Users\rajeev_daithankar\AppData\Local\Continuum\anaconda3\envs\dev\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [53]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_9 (Dense)                 │ (None, 6)              │            72 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_10 (Dense)                │ (None, 3)              │            21 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_11 (Dense)                │ (None, 1)              │             4 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 97 (388.00 B)

 Trainable params: 97 (388.00 B)

 Non-trainable params: 0 (0.00 B)

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [54]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [55]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.4739 - loss: 1.0126
Epoch 2/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 938us/step - accuracy: 0.4885 - loss: 0.8306
Epoch 3/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 977us/step - accuracy: 0.5079 - loss: 0.7628
Epoch 4/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5815 - loss: 0.6894
Epoch 5/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 898us/step - accuracy: 0.6093 - loss: 0.6819
Epoch 6/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 981us/step - accuracy: 0.6486 - loss: 0.6463
Epoch 7/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.6997 - loss: 0.6141
Epoch 8/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 964us/step - accuracy: 0.7257 - loss: 0.5969
Epoch 9/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7408 - loss: 0.5857
Epoch 10/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 883us/step - accuracy: 0.7331 - loss: 0.5798
Epoch 11/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7323 - loss: 0.5712
Epoch 12/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 902us/step - accuracy: 0.7444 - loss: 0.5554
Epoch 13/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 973us/step - accuracy: 0.7617 - loss: 0.5283
Epoch 14/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7534 - loss: 0.5302
Epoch 15/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7318 - loss: 0.5472
Epoch 16/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 733us/step - accuracy: 0.7432 - loss: 0.5349
Epoch 17/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7532 - loss: 0.5411
Epoch 18/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 867us/step - accuracy: 0.7566 - loss: 0.5286
Epoch 19/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 928us/step - accuracy: 0.7559 - loss: 0.5102
Epoch 20/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 654us/step - accuracy: 0.7625 - loss: 0.5041
Epoch 21/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7456 - loss: 0.5087
Epoch 22/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7596 - loss: 0.4971
Epoch 23/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7587 - loss: 0.4986
Epoch 24/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 992us/step - accuracy: 0.7620 - loss: 0.4968
Epoch 25/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 994us/step - accuracy: 0.7547 - loss: 0.4990
Epoch 26/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7648 - loss: 0.4835
Epoch 27/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 923us/step - accuracy: 0.7732 - loss: 0.4800
Epoch 28/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 888us/step - accuracy: 0.7588 - loss: 0.4953
Epoch 29/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7783 - loss: 0.4821
Epoch 30/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7498 - loss: 0.4966
Epoch 31/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 959us/step - accuracy: 0.7689 - loss: 0.4835
Epoch 32/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7591 - loss: 0.4910
Epoch 33/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 889us/step - accuracy: 0.7733 - loss: 0.4702
Epoch 34/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 934us/step - accuracy: 0.7596 - loss: 0.4944
Epoch 35/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7676 - loss: 0.4871
Epoch 36/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7567 - loss: 0.4970
Epoch 37/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7874 - loss: 0.4694
Epoch 38/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 709us/step - accuracy: 0.7999 - loss: 0.4407
Epoch 39/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 980us/step - accuracy: 0.7890 - loss: 0.4627
Epoch 40/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7653 - loss: 0.4892
Epoch 41/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 889us/step - accuracy: 0.7771 - loss: 0.4726
Epoch 42/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 990us/step - accuracy: 0.7859 - loss: 0.4720
Epoch 43/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 926us/step - accuracy: 0.7866 - loss: 0.4637
Epoch 44/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 981us/step - accuracy: 0.7799 - loss: 0.4863
Epoch 45/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7641 - loss: 0.4754
Epoch 46/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 836us/step - accuracy: 0.7766 - loss: 0.4727
Epoch 47/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 817us/step - accuracy: 0.7772 - loss: 0.4633
Epoch 48/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 935us/step - accuracy: 0.7789 - loss: 0.4768
Epoch 49/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 938us/step - accuracy: 0.7690 - loss: 0.4947
Epoch 50/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 977us/step - accuracy: 0.7816 - loss: 0.4604

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [56]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - 9ms/step - accuracy: 0.7475 - loss: 0.5258
Loss: 0.5258172750473022, Accuracy: 0.7475000023841858

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [58]:
# Set the model's file path
file_path = Path("student_loans.keras")

# Export your model to a keras file
nn.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [59]:
# Set the model's file path
file_path = Path("student_loans.keras")

# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [63]:
# Make predictions with the test data
predictions = nn_imported.predict(X_test_scaled,verbose=2)

# Display a sample of the predictions
predictions[:5]

13/13 - 0s - 3ms/step

array([[0.5061439 ],
       [0.5326673 ],
       [0.7476809 ],
       [0.83475506],
       [0.98550975]], dtype=float32)

In [64]:
# Save the predictions to a DataFrame and round the predictions to binary results
predictions_df = pd.DataFrame(columns=["predictions"], data=predictions)
predictions_df["predictions"] = round(predictions_df["predictions"],0)
predictions_df

     predictions
0            1.0
1            1.0
2            1.0
3            1.0
4            1.0
..           ...
395          1.0
396          0.0
397          1.0
398          0.0
399          0.0

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [65]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, predictions_df["predictions"].values))

              precision    recall  f1-score   support

           0       0.73      0.74      0.73       188
           1       0.77      0.75      0.76       212

    accuracy                           0.75       400
   macro avg       0.75      0.75      0.75       400
weighted avg       0.75      0.75      0.75       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**
-   Personal Inforamtion - Name, Age, Gender, Contact informaton like address, phone, email
-   Academic Information - University, Expected Graduation date, Major
-   Financial Informaton - Credit Score, Existing loans/debts, Income Details, 
                            Preferred interest rate  
-   Loan Information - Amount of Loan, Loan Duration, Risk Apetite

Tha above informaton will be needed to provide customised loan solution, term based on individual needs, assessing student's ability to repay loans.


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**

-   Collaborative Filtering - It is based on choices of similar users to suggest relevant infomation. For Student Loan recommendation, I think, Collaborative filtering will not be applicable, as for every individual student financical, academic circumstances widely vary.
- Context based Filtering - It may be partially relevnat considering situtional context like academic instution, major
- Content based Filtering - I think it is most sutiable for Student Loan Recommendation system as it uses detailed profile information (such as financial, personal, academic, risk apetite) of a student to provide personalized recommendation


**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**
-   Bias in Algorithm/Data - There may be bias in data such as ethinticy, gender, economic, academic background, location. These biases may recommend less favorable loans and denying equal opportunity. 

- Inaccurate Recommendation  - Factors like income, economic condition, student's major can influence student's ability to repay loan. Due to inaccurate recommendation, students may be taking debt than they can repay. This will have financial distress and legal consequences for studnents